$primary: rgb(255, 183, 101);
$primary-1: rgb(255, 204, 146);
$primary-2: rgb(251, 230, 206);
$primary-shadow: rgb(210, 170, 124);
$dark: rgb(61, 61, 61);
$route-bg: rgb(245, 245, 245);

$transition: all 0.4s;